#call-to-action .cta-btn {
  background: #2dc997;
  border: 2px solid #2dc997;
}

.btn-req-quote {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #2dc997;
  color: #2dc997;
}

.btn-req-quote:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
  color: #fff;
}

img {
	max-width: 100%;
  }

.thumbnail {
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
