<section id="about">
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-12">
        <h2 class="title padding-top-20">Health Care</h2>
      </div>
      <div class="col-lg-4 content order-lg-1 order-1">
        <p style="text-align: justify;">
          Patient Care and Hospital Ops are very critical, When analysed 360°, data becomes very insightful.
        </p>
        <a [routerLink]='"/contact"' class="btn-req-quote">Request a quote</a>
        <a [routerLink]='"/contact"' class="btn-req-quote">Request a demo</a>
        <!-- <div class="background" [style.background]="'url('+healthCareData.mainImageUrl+') center center no-repeat'" style="margin-top: 40px;min-height: 680px;">
        </div> -->
      </div>
      <div class="col-lg-8 content order-lg-2 order-2">
        <img class="thumbnail" [src]="healthCareData.mainImageUrl" style="width: 100%;" alt="healthcare-benefit">
      </div>
    </div>
  </div>
</section>
<!--Key Features -->
<section id="call-to-action"
  [style.background]="'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))'">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-8 text-center text-lg-left">
        <h2 class="cta-title">Key Features</h2><br>
        <p class="cta-text" *ngFor="let feature of healthCareData.features; let i = index">{{i + 1}}. {{feature}}</p>
        <p class="cta-text">Be Agile, lean and stay ahead of the curve with the help of State of
          the art Machine learning techniques in your domain.</p>
      </div>
      <div class="col-lg-4 cta-btn-container text-center">
        <h1 class="cta-btn align-middle" style="font-size: 38px;">
          <p style="text-align: center;">Customer's confidence and feedback matters most. It makes you lean.</p>
          <p style="font-style: italic;font-weight: bold;text-align: center;">Healthcare Analytics helps you achieve</p>
        </h1>
      </div>
    </div>
  </div>
</section>
<!--Key Benefits -->
<section id="about">
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-12">
        <h2 class="title">Key Benefits</h2>
      </div>
      <div class="col-lg-4 content order-lg-1 order-1">
        <p class="cta-text" *ngFor="let benefits of healthCareData.benefits; let i = index">{{i + 1}}. {{benefits}}</p>
      </div>
      <div class="col-lg-4 content order-lg-2 order-2" *ngFor="let image of healthCareData.benefitImageUrl">
        <img [src]="image" alt="healthcare-benefit">
      </div>
    </div>
  </div>
</section>


